<div ng-controller="LoginController">
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <!-- Alert untuk sukses -->
                <div class="alert alert-success" ng-if="successMessage" role="alert">
                    <h4 class="alert-heading">Success!</h4>
                    <p>{{ successMessage }}</p>
                </div>
                
                <!-- Alert untuk error -->
                <div class="alert alert-danger" ng-if="errorMessage" role="alert">
                    <h4 class="alert-heading">Error!</h4>
                    <p>{{ errorMessage }}</p>
                </div>

                <h1 class="text-center mb-4">Login</h1>
                <form ng-submit="login()" class="shadow-sm p-4 rounded bg-white">
                    <div class="mb-3">
                        <label for="email" class="form-label">Email:</label>
                        <input type="email" id="email" name="email" class="form-control" ng-model="user.email" required>
                    </div>
                    <div class="mb-3">
                        <label for="password" class="form-label">Password:</label>
                        <input type="password" id="password" name="password" class="form-control" ng-model="user.password" required>
                    </div>
                    <button type="submit" class="btn btn-primary w-100">Login</button>
                </form>
                <p class="text-center mt-3">Don't have an account? <a href="/signup">Signup here</a></p>
                <p class="text-center mt-3">Are you admin? <a href="/loginAdmin">Login for admin</a></p>
            </div>
        </div>
    </div>
    <br><br><br><br><br><br><br><br><br><br>
</div>
